div.card {
    margin-bottom: 20px !important;
}

.accordion-option {
    position: absolute;
    right: 22px; 
    top: 12px;
    text-transform: uppercase;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'RalewayThin';
    src: url('../../assets/fonts/raleway_thin-webfont.eot');
    src: url('../../assets/fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/raleway_thin-webfont.woff') format('woff'),
         url('../../assets/fonts/raleway_thin-webfont.ttf') format('truetype'),
         url('../../assets/fonts/raleway_thin-webfont.svg#RalewayThin') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'hack-font';    
    src: url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/fonts/hack-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}