<div class="container-fluid" id="cspBody" style="padding-top: 25px;">
  <div class="col-md-12">
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">
      {{ successMessage }}
    </ngb-alert>

    <button type="button" class="pull-right btn btn-danger " (click)="clearStorage();">Clear Storage</button>
  </div>
  <br />
  <br />
  <div class="col-md-12">
    <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" [activeIds]="selectedFaqId" (panelChange)="onPanelChange($event)">
      <ngb-panel *ngFor="let policy of policies" id="{{policy.name}}">
        <span class="pull-right"> run</span>

        <ng-template ngbPanelTitle>
          <span>
            <b>{{ policy.name }}</b>
          </span>
          <span class="pull-right accordion-option"> &nbsp;&nbsp;
            <button type="button" (click)="reloadPage()" class="btn btn-primary">Run</button>
          </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ngb-alert dismissable='false' style="border-radius:0px;" *ngIf="policy.description">
            {{ policy.description }}
          </ngb-alert>

          <div class="col-md-12" style="padding:20px;">


            <div>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <input style="margin-bottom:10px;" class="form-control" type="text" (keyup.enter)="saveRules(policy,$event)"
                        placeholder="Enter rules separated by comma(,) (eg: 'self' 'unsafe-inline' 'unsafe-eval' cdn.cloudfare.com). Default is 'self'" />
                    </div>
                    <div class="col-md-12">
                      <label>{{ policy.label }} Rules:-</label>
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let rule of script[policy.name].rules; let i = index">
                          <div style="width: 100%;">
                            <span class="pull-left">
                              {{ rule }}
                            </span>
                            <span class="pull-right">
                              <a href="javascript:void(0);" (click)="remove(i, policy.name, 'rules')">
                                <i class="fa fa-trash"></i>
                              </a>
                            </span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p *ngIf="script[policy.name].rules.length === 0">
                    No rules available.
                  </p>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="text" style="margin-bottom:10px;" class="form-control" (keyup.enter)="saveValues(policy,$event)"
                        type="text" placeholder="Enter scripts separated by comma(,) (eg: main.js,https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js)" />
                    </div>
                    <div class="col-md-12">
                      <div *ngIf="policy.name == 'child_src'">
                        <strong>Available Local Iframes</strong>: iframe.html
                      </div>
                      <div *ngIf="policy.name == 'style_src'">
                        <strong>Available Local CSS</strong>: main.css
                      </div>
                      <div *ngIf="policy.name == 'script_src'">
                        <strong>Available Local Script</strong>: main.js
                      </div>
                      <div *ngIf="policy.name == 'font_src'">
                        <strong>Available Local Font</strong>: raleway_thin-webfont
                      </div>
                      <div *ngIf="policy.name == 'image_src'">
                        <strong>Available Local Image</strong>: google.png
                      </div>
                      <div *ngIf="policy.name == 'media_src'">
                        <strong>Available Local Media</strong>: payworld.mp4
                      </div>
                      <div *ngIf="policy.name == 'object_src'">
                        <strong>Available Local Object</strong>: angular.pdf, helloworld.swf
                      </div>
                      <label>{{ policy.label }} contents to be loaded:-</label>
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let script of script[policy.name].values; let i = index">
                          <div style="width: 100%;">
                            <span class="pull-left">
                              {{ script }}
                            </span>
                            <span class="pull-right">
                              <a href="javascript:void(0);" (click)="remove(i, policy.name, 'values')">
                                <i class="fa fa-trash"></i>
                              </a>
                            </span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p *ngIf="script[policy.name].values.length === 0">
                    No {{ policy.label }} loaded.
                  </p>

                </div>
              </div>

              <div class="row" *ngIf="script[policy.name].values.length>0">
                <div class="col-md-12">
                  <br *ngIf="script[policy.name].rules.length>0" />
                  <label><strong>Contents:-</strong></label>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let value of script[policy.name].values; let i = index">
                      <!-- {{ policy | json }} -->
                      <div *ngIf="policy.name == 'object_src'">
                        <object [data]="getData(value,policy)"></object>
                      </div>
                      <div *ngIf="policy.name == 'img_src'">
                        <img [src]="getData(value,policy)" />
                      </div>
                      <div *ngIf="policy.name == 'media_src'">
                        <video controls="controls">
                          <source [src]="getData(value,policy)" />
                        </video>
                      </div>
                      <div *ngIf="policy.name === 'child_src'">
                        <iframe [src]="getData(value,policy)" width="100%" height="100%">

                        </iframe>
                      </div>

                      <div *ngIf="policy.name === 'connect_src'">
                        <div id="connectSrc">

                        </div>
                      </div>


                    </li>
                  </ul>
                </div>
              </div>

            </div>
            <br />

          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>